<ng-template *ngIf="form; then form_page; else results_page"></ng-template>
<ng-template #form_page>

<div class="container offset-3 col-6 ">
  <form #solarForm="ngForm" id="form-container" class="solar-form border p-3" novalidate >
    <div class="row">
      <div class="col form-group">
        <label for="system_capacity">System Capacity</label>
        <input [(ngModel)]="model.system_capacity" type="number" class="form-control" id="system_capacity" name="system_capacity" placeholder="Between 0.05 and 500000" required min="0.05" max="500000" step="0.01">
        <div class="invalid-feedback">This field is required and must be between 0.05 to 500000</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="module_type">Module Type</label>
        <select [(ngModel)]="model.module_type" type="" class="form-control" id="module_type" name="module_type" required>
          <option value=0>Standard</option>
          <option value=1>Premium</option>
          <option value=2>Thin film</option>
        </select>
        <div class="invalid-feedback">This field is required. Please select a module type</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="losses">System Losses(percent)</label>
        <input [(ngModel)]="model.losses" type="number" class="form-control" id="losses" name="losses" placeholder="From -5 to 99" required min="-5" max="99">
        <div class="invalid-feedback">This field is required and must be between -5 and 99</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="array_type">Array Type</label>
        <select [(ngModel)]="model.array_type" class="form-control" id="array_type" name="array_type" required>
          <option value=0>Fixed - Open Rack</option>
          <option value=1>Fixed - Roof Mounted</option>
          <option value=2>1-Axis</option>
          <option value=3>1-Axis Backtracking</option>
          <option value=4>2-Axis</option>
        </select>
        <div class="invalid-feedback">This field is required. Please select an array type.</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="tilt">Tilt Angle (degrees)</label>
        <input [(ngModel)]="model.tilt" type="number" class="form-control" id="tilt" name="tilt" placeholder="0 to 90 degrees" required min="0" max="90">
        <div class="invalid-feedback">This field is required and must be between 0 and 90 degrees</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="azimuth">Azimuth Angle (degrees)</label>
        <input [(ngModel)]="model.azimuth" type="number" class="form-control" id="azimuth" name="azimuth" placeholder="<360 degrees" required min="0" max="359">
        <div class="invalid-feedback">This field is required and must be between 0 and 359 degrees</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="lat">The latitude for the location to use.</label>
        <input [(ngModel)]="model.lat" type="number" class="form-control" id="lat" name="lat" placeholder="-90 to 90" required min="-90" max="90">
        <div class="invalid-feedback">This field is required and must be between -90 and 90 degrees latitude</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="lon">The longitude for the location to use.</label>
        <input [(ngModel)]="model.lon" type="number" class="form-control" id="lon" name="lon" placeholder="-180 to 180" required min="-180" max="180">
        <div class="invalid-feedback">This field is required and must be between -180 and 180 degrees longitude.</div>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <button type="btn" class="btn btn-primary" (click)="submitForm()">Submit</button>
      </div>
    </div>
  </form>
</div>
</ng-template>

<ng-template #results_page>
  <div class="row">
    <div class="col-6 offset-3 form-group">
      <button type="btn" class="btn btn-primary" (click)="back2Form()">Return to Form</button>
    </div>
  </div>

<div id="results_cont" class="container col-6 offset-3 py-3">
    <table id="results" class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">0</th>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
          <th scope="col">9</th>
          <th scope="col">10</th>
          <th scope="col">11</th>
          <th scope="col">12</th>
          <th scope="col">13</th>
          <th scope="col">14</th>
          <th scope="col">15</th>
          <th scope="col">16</th>
          <th scope="col">17</th>
          <th scope="col">18</th>
          <th scope="col">19</th>
          <th scope="col">20</th>
          <th scope="col">21</th>
          <th scope="col">22</th>
          <th scope="col">23</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let day of results; index as i;">
          <th scope="row"><small>{{ i }}</small></th>
          <td *ngFor="let hour of day"><small>{{ hour.ac | number: '1.0-0' }} Wac  <br /> {{ hour.poa | number: '1.0-0' }} W/m2</small></td>
        </tr>
    </table>
    <ng-template *ngIf="loading; then loading_block;"></ng-template>
    <ng-template #loading_block>
      Loading...
      <div class="spinner-border text-secondary center" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </ng-template>
  </div>
</ng-template>
